[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = {path = "c:/Users/ferry/Downloads/wheels/psycopg2-2.7.6.1-cp37-cp37m-win_amd64.whl"}
django-environ = "*"

[requires]
python_version = "3.7"
